.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

footer a {
  text-decoration: none;
}
